footer.footercontent
    .wrapper
        .footer
            .footer__left
                .footer__button
                    span стать партнером
                .footer__button.footer__button_color
                    span сделать джейлинг
            .footer__right
                .footer__arrow  
                    img(src="./images/arrowdown.png", alt="")
                .footer__blocknumbers
                    a(href="#") 1
                    a(href="#") 2
                    a(href="#") 3
                    a(href="#") 4
                    a(href="#") 5