footer.footercontent
    .wrapper
        .footer
            .footer__left
                .footer__button#button
                    span стать партнером
                .footer__button.footer__button_color
                    span сделать джейлинг
            .footer__right
                a(href="#firstPage").footer__arrow  
                    img(src="./images/arrowdown.png", alt="")
                .footer__blocknumbers
                    a(href="#firstPage") 1
                    a(href="#secondPage") 2
                    a(href="#thirdPage") 3
                    a(href="#fourthPage") 4
                    a(href="#fifthPage") 5
                    a(href="#sixthPage") 6
                    a(href="#seventhPage") 7
                    //- a(href="#eighth") 8
        //- include ../common/popap.pug