header.hoadercontent
    .wrapper
        .header
            .header__left
                .header__logo
                    img(src="./images/logo.png", alt="")
            .header__center
                .menu
                    .menu__paragraph
                        a(href="#") Преимущества  
                    .menu__paragraph
                        a(href="#") JLING-сервис
                    .menu__paragraph
                        a(href="#") Косметологам 
                    .menu__paragraph
                        a(href="#") Сделать джейлинг  
                    .menu__paragraph
                        a(href="#") Где купить
            .header__right
                .inst
                    a(href="#")
                        img(src="/images/inst.png", alt="")
                .vk
                    a(href="#")
                        img(src="/images/vk.png", alt="")
                .fb
                    a(href="#")
                        img(src="/images/fb.png", alt="")
                .number
                    a(href="tel:+74952301033") +7 495 230 10 33 


            