.popapcontent
    .wrapper
        .popap#popap
            form.form(action="")
                input(type="text" placeholder="Ваше имя")
                input(type="email" placeholder="e-mail")
                input(type="tel" placeholder="телефон")
                button(type="submit")
                    span ОТПРАВИТЬ