.popapwrapblock#openmodal
    .popap
        .popaptop
            .popapwrapper
                .popap__blocktitle
                    .popap__titlebig
                        p Что входит в уборку?
                    .popap__decription  
                        p Это наш регламент — то, что мы делаем на каждом заказе. Чтобы настроить уборку под себя, добавьте дополнительные услуги.
                .block 
                    .block__left
                        .title  
                            p Во всей квартире:
                        .paragraph
                            p Моем пол и протираем плинтусы
                        .paragraph
                            p Пылесосим ковры и коврики
                        .paragraph
                            p Протираем все доступные поверхности
                        .paragraph
                            p Протираем выключатели и дверные ручки
                        .paragraph
                            p Чистим зеркала и стеклянные поверхности
                        .paragraph
                            p Собираем и выносим мусор
                    .block__right 
                        .titleblock
                            .title.title_grey
                                p Дополнить уборку:
                        .blockblocks
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/windows.png", alt="")
                                .blockblocks__text
                                    p 
                                        | Помоем окна 
                                        br 
                                        | 50 грн. / окно
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/antique-balcony.png", alt="")
                                .blockblocks__text
                                    p 
                                        | Приберем балкон 
                                        br
                                        | 120 грн.
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/chandelier.png", alt="")
                                .blockblocks__text
                                    p
                                        | Помоем люстру
                                        br
                                        | 120 грн.
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/key.png", alt="")
                                .blockblocks__text
                                    p
                                        | Заберем ключи
                                        br
                                        | 75 грн.
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/key2.png", alt="")
                                .blockblocks__text
                                    p
                                        | Доставим ключи
                                        br
                                        | 75 грн.
                .block 
                    .block__left
                        .title  
                            p На кухне:
                        .paragraph
                            p Моем посуду
                        .paragraph
                            p Моем раковину
                        .paragraph
                            p Протираем столешницу и кухонный фартук
                        .paragraph
                            p Моем снаружи плиту, холодильник и вытяжку
                        .paragraph.paragraph_mrg
                            p Протираем фасады шкафов
                    .block__right 
                        .titleblock
                            .title.title_grey
                                p Дополнить уборку:
                        .blockblocks
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/fridge.png", alt="")
                                .blockblocks__text
                                    p 
                                        | Почистим холодильник
                                        br
                                        | 120 грн.
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/oven.png", alt="")
                                .blockblocks__text
                                    p
                                        | Помоем духовку
                                        br
                                        | 75 грн.
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/microwave-oven.png", alt="")
                                .blockblocks__text
                                    p
                                        | Помоем микроволновку
                                        br
                                        | 75 грн.
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/bathroom-cabinet.png", alt="")
                                .blockblocks__text
                                    p
                                        | Приберем кухонные шкафы
                                        br
                                        | 120 грн.
                .block 
                    .block__left
                        .title  
                            p В ванной:
                        .paragraph
                            p Чистим унитаз
                        .paragraph.paragraph_mrg
                            p Моем ванну, душевую кабину и раковину
                    .block__right 
                        .titleblock
                            .title.title_grey
                                p Дополнить уборку:
                        .blockblocks
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/track.png", alt="")
                                .blockblocks__text
                                    p
                                        | Помоем лоток питомца 
                                        br
                                        | 50 грн.
                .block 
                    .block__left
                        .title  
                            p А что с вещами?:
                        .paragraph
                            p Одежду аккуратно складываем
                        .paragraph
                            p Расставляем обувь
                        .paragraph.paragraph_mrg
                            p Меняем постельное бельё и застилаем кровать
                    .block__right 
                        .titleblock
                            .title.title_grey
                                p Дополнить уборку:
                        .blockblocks
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/iron.png", alt="")
                                .blockblocks__text
                                    p
                                        | Погладим вещи 
                                        br
                                        | 120 грн.
                            .blockblocks__itemblock
                                .blockblocks__img
                                    img(src="./images/closet.png", alt="")
                                .blockblocks__text
                                    p
                                        | Уберёмся в гардеробной 
                                        br
                                        | 120 грн.

        .popapmidle
            .popapwrapper
                .block2 
                    .blockimg
                        img(src="./images/kisspng.png", alt="")
                    .title
                        p 
                            |И всё это от 
                            span 1590 
                            | грн.
                    .descriptionlink
                        p 
                        
                        | Если у вас возникли вопросы, задайте их нам во 
                        a(href="#") Вконтакте
                        |,  
                        a(href="#") Фейсбуке
                        |, 
                        a(href="#") Телеграме 
                        |  или 
                        a(href="#") Вайбере 
                        |!
                    .blockbutton
                        div
                            a(href="#")
                                span Заказать уборку

        .popapbottom
            .popapwrapper
                .block3
                    .block3__title
                        .title
                            p Что мы НЕ делаем на уборке:
                    .block3__blockblocks
                        .block3__left
                            .block3__blockitem  
                                p Не поднимаем и не двигаем тяжёлые предметы и мебель
                            .block3__blockitem  
                                p Не делаем химическую чистку ковров
                            .block3__blockitem  
                                p Не чистим жалюзи и шторы
                            .block3__blockitem  
                                p Не прибираем в кладовке
                            .block3__blockitem  
                                p Не моем стены
                        .block3__right
                            .block3__blockitem  
                                p Не удаляем глубокие пятна и не чистим паром
                            .block3__blockitem  
                                p Не применяем биологически опасные материалы
                            .block3__blockitem  
                                p Не работаем во дворах и огородах
                            .block3__blockitem  
                                p Не делаем уборку в труднодоступных местах

        #close.popap-close
            a(href='#close' title="close")
                img(src="./images/closed.png" alt="")
                
                