extends ../template

block varibles
    - var title = "Heade"

block content

    .content
        include ../common/header.pug

        #fullpage
            a(name="first")
            section.headcontent.section
                .wrapper
                    .head
                        .head__title
                            p Джейлинг— Эпиляция будущего
                        .head__logo
                            img(src="./images/headlogo.png", alt="")
                        .head__description
                            p Джейлинг этопиляция будущего, метод избавления от волос на теле, без боли. В его структуру входит тот самый гель, который в сочетании с другими компонентами, дарит радость. Эпиляция - это не то что вы привыкли терпеть, Джейлинг,  эпиляция будущего, без стресса.
                        .head__link
                            a(href="#") Почему не больно и безопасно
            //- section.slidescontent.section
            //-     a(name="twoo")
            //-     .slides
            //-         .swiper-container
            //-             .swiper-wrapper
            //-                 .swiper-slide.one
            //-                     .wrapper
            //-                         .slides__title
            //-                             p как все происходит
            //-                         .slides__text
            //-                             p первое
            //-                         .slides__title2
            //-                             p Очищающий лосьон
            //-                         .slides__description
            //-                             p убирает загрязнение и подготавливает кожу
            //-                 .swiper-slide.twoo
            //-                     .wrapper
            //-                         .slides__title
            //-                             p как все происходит
            //-                         .slides__text
            //-                             p ВТОРОЕ
            //-                         .slides__title2
            //-                             p Гель для эпиляции
            //-                         .slides__description
            //-                             p Основное действо
            //-                 .swiper-slide.three
            //-                     .wrapper
            //-                         .slides__title
            //-                             p как все происходит
            //-                         .slides__text
            //-                             p ТРЕТЬЕ
            //-                         .slides__title2
            //-                             p Гель после эпиляции
            //-                         .slides__description
            //-                             p Успокаивающий эффект
            //-             .swiper-button-next
            //-             .swiper-button-prev

            a(name="second")
            section.po4emucontent.bgpo4emu1#bgpo4emu.section
                .wrapper
                    .po4emu
                        .po4emu__title
                            p почему не больно и безопасно
                        .po4emu__contenttext
                            .po4emu__text
                                p Гель проникает в волосяную луковицу и разрушает связь волоса с волосяной сумкой и нервом. После удаления волоса активное действующее вещество в геле подавляет рост нового волоса.
                            .po4emu__text
                                p В отличии от лазерной эпиляции, джейлинг работает с белыми, седыми,  обесцвечеными волосами и татуировками. Исключена возможность получения химических и термических ожегов. Нет высокоэнергетического облучения = нет риска раковых заболеваний.
                        .po4emu__link
                            a(href="#") Преимущества джейлинга

            a(name="third")
            section.advantagescontent.section
                .wrapper
                    .advantages
                        .advantages__title
                            p преимущества
                        .advantages__blockblocks
                            .blockitem
                                img(src="./images/advantages1.png", alt="")
                                span Эпиляция без боли
                            .blockitem
                                img(src="./images/advantages2.png", alt="")
                                span Сокращение повторного роста волос до 70% как при лазерной эпиляции
                            .blockitem
                                img(src="./images/advantages3.png", alt="")
                                span Не нужно дорогостоящее и громоздкое оборудование
                        .advantages__blockblocks.advantages__blockblocks_fl
                            .blockitem
                                img(src="./images/advantages4.png", alt="")
                                span Нет угрозы термических и химических ожегов
                            .blockitem
                                img(src="./images/advantages5.png", alt="")
                                span Увлажнение и уход за кожей - часть стандартной процедуры

            a(name="fourth")
            section.servicecontent.section
                .wrapper
                    .service
                        .service__title
                            p Джейлинг- сервис
                        .service__text
                            p Джейлинг сервис - дистрибьютор продукции для салонов и косметологов. Наши заказчики, кроме продукции, получают от нас поток клиентов и маркетинговые инструмент для их удержания.
                        .service__blockblocks
                            .blockitem
                                img(src="./images/service1.png", alt="")
                                span Обучение
                            .blockitem
                                img(src="./images/service2.png", alt="")
                                span Поставка. Отгрузка транспортными компаниями и курьерскими службами.
                            .blockitem
                                img(src="./images/service3.png", alt="")
                                span Рекламная поддержка Instagram, FB, VK. Video-PR
                            .blockitem
                                img(src="./images/service4.png", alt="")
                                span Привлечение клиентов. Интерактивная карта и список партнеров направляющих клиентов в Ваш салон.
                            .blockitem
                                img(src="./images/service5.png", alt="")
                                span Удержание клиентов. Мобильное приложение и маркетинговые инструменты.
                        .service__link
                            a(href="#") Предложение партнерам
                        .service__qrblock.service__qrblock--1
                            .left
                                img(src="./images/gr.png", alt="")
                            .right
                                span Скачай в App Store
                                a(href="https://itunes.apple.com/us/app/uds-game/id954809132?mt=8)") https://itunes.apple.com/us/app/uds-game/id954809132?mt=8)
                                span Google Play
                                a(href="https://play.google.com/store/apps/details?id=com.setinbox.game&hl=ru) ") https://play.google.com/store/apps/details?id=com.setinbox.game&hl=ru)
                                p
                                    | мобильное приложение UDS Game. Отсканируй или введи код twev5679 image.png Получи приветственные
                                    span
                                        | 500 баллов
                                    | на счет

            a(name="fifth")
            section.partnerscontent#bg2.section
                .wrapper
                    .partners
                        .partners__title
                            p ПАРТНЕРСТВО
                        .partners__blockbutton
                            .button1#button1
                                a(href="javascript: void(0);")
                                    span#text1 Предложение для салонов
                            .button2#button2
                                a(href="javascript: void(0);")
                                    span#text2 Предложение для индивидуальных мастеров
                        .partners__list#list1
                            .paragraph
                                p Обучение в Вашем салоне в удобное время
                            .paragraph
                                p Гибкая ценовая политика с накопительными
                                    br
                                    | скидками
                            .paragraph
                                p Рекламная продукция для привлечения
                                    br
                                    | клиентов на  услугу будущего
                            .paragraph
                                p Мобильное приложение для управления
                                    br
                                    | персоналом и взаимоотношениями с
                                    br
                                    | клиентами
                            .paragraph
                                p Бонусная система
                        .partners__list.hidden#list2
                            .paragraph
                                p Обучение на базе производителя
                            .paragraph
                                p Гибкая ценовая политика с накопительными скидками
                            .paragraph
                                p Рекламные материалы для продвижения в соцсетях
                            .paragraph
                                p Мобильное приложение
                            .paragraph
                                p Бонусная система
                        .service__qrblock.service__qrblock--2
                            .left
                                img(src="./images/gr.png", alt="")
                            .right
                                span Скачай в App Store
                                a(href="https://itunes.apple.com/us/app/uds-game/id954809132?mt=8)") https://itunes.apple.com/us/app/uds-game/id954809132?mt=8)
                                span Google Play
                                a(href="https://play.google.com/store/apps/details?id=com.setinbox.game&hl=ru) ") https://play.google.com/store/apps/details?id=com.setinbox.game&hl=ru)
                                p
                                    | мобильное приложение UDS Game. Отсканируй или введи код twev5679 image.png Получи приветственные
                                    span
                                        | 500 баллов
                                    | на счет
                        .partners__link
                            a(href="#") Обучение

            a(name="sixth")
            section.buycontent.section
                .wrapper
                    .buy
                        .buy__title
                            p ГДЕ КУПИТЬ джейлинг
                        .buy__list
                            .paragraph
                                p Расходные материалы продаются только Партнерам (салонам и индивидуальным мастерам) прошедшим бесплатное обучение.
                            .paragraph
                                p Обучение проводится на базе косметологического кабинета обучаемого партнера.
                            .paragraph
                                p Обучение бесплатно и занимает 5 часов включая теоретическую лекцию и практические занятия.
                            .paragraph
                                p Обучаемый должен предоставить 2х моделей для практических занятий.
                            .paragraph
                                p Обучаемый должен выкупить стартовый набор для JLing стоимостью 15 тыс. руб.
                            .paragraph
                                p Минимальный набор расходных материалов стоит 7500 руб.
                            .paragraph
                                p Скидки предоставляются по программе лояльности в мобильном приложении.
                        .service__qrblock.service__qrblock--3
                            .left
                                img(src="./images/gr.png", alt="")
                            .right
                                span Скачай в App Store
                                a(href="https://itunes.apple.com/us/app/uds-game/id954809132?mt=8)") https://itunes.apple.com/us/app/uds-game/id954809132?mt=8)
                                span Google Play
                                a(href="https://play.google.com/store/apps/details?id=com.setinbox.game&hl=ru) ") https://play.google.com/store/apps/details?id=com.setinbox.game&hl=ru)
                                p
                                    | мобильное приложение UDS Game. Отсканируй или введи код twev5679 image.png Получи приветственные
                                    span
                                        | 500 баллов
                                    | на счет
                        .buy__link
                            a(href="#") Пройти процедуру эпиляции JLing можно у наших партнеров
                        .buy__bottomtext
                            .left
                                span Запись на обучение:
                                span Т: +7 495 230-10-33
                                span E: hello@jling.ru
                            .right
                                span #давайбезболи
                                span #эпиляция будущего
                                span #джейлинг
            a(name="seventh")
            section.fromcontent.section
                .wrapper
                    .from
                        .from__title
                            p ГДЕ СДЕЛАТЬ ДЖЕЙЛИНГ
                        .from__content
                            .left
                                .left__texttop
                                    p Список салонов и мастеров, предосталяющих услуги эпиляции Джейлинг:
                                .left__textbottom
                                    .blocktext
                                        span Салон “Кристина”
                                        span Красногорск, ул. Заводская 18/1
                                        span т: +7 912 34 56 78
                                    .blocktext
                                        span Салон “Кристина”
                                        span Красногорск, ул. Заводская 18/1
                                        span т: +7 912 34 56 78
                                    .blocktext
                                        span Салон “Кристина”
                                        span Красногорск, ул. Заводская 18/1
                                        span т: +7 912 34 56 78
                            .right
                                img(src="./images/frombg.png", alt="")


        include ../common/footer.pug
        include ../common/popap.pug


















