extends ../template

block varibles
    - var title = "Heade"

block content
   
    .content     
        include ../common/header.pug
        
        section.headcontent
            .wrapper
                .head
                    .head__title
                        p Джейлинг— Эпиляция будущего
                    .head__logo
                        img(src="./images/headlogo.png", alt="")
                    .head__description
                        p Джейлинг этопиляция будущего, метод избавления от волос на теле, без боли. В его структуру входит тот самый гель, который в сочетании с другими компонентами, дарит радость. Эпиляция - это не то что вы привыкли терпеть, Джейлинг,  эпиляция будущего, без стресса.
                    .head__link
                        a(href="#") Почему не больно и безопасно
                    
        include ../common/footer.pug
        include ../common/popap.pug

                    


                    




        

        
        




        
