extends ../template

block varibles
    - var title = "Why"

block content
   
    .content     
        include ../common/header.pug


        a(name="second")
            section.po4emucontent.bgpo4emu1#bgpo4emu.section
                .wrapper
                    .po4emu
                        .po4emu__title
                            p почему не больно и безопасно
                        .po4emu__contenttext
                            .po4emu__text
                                p Гель проникает в волосяную луковицу и разрушает связь волоса с волосяной сумкой и нервом. После удаления волоса активное действующее вещество в геле подавляет рост нового волоса.
                            .po4emu__text
                                p В отличии от лазерной эпиляции, джейлинг работает с белыми, седыми,  обесцвечеными волосами и татуировками. Исключена возможность получения химических и термических ожегов. Нет высокоэнергетического облучения = нет риска раковых заболеваний.
                        .po4emu__link
                            a(href="#") Преимущества джейлинга
         

        include ../common/footer.pug
        include ../common/popap.pug