extends ../template

block varibles
    - var title = "Service"

block content
   
    .content     
        include ../common/header.pug

        section.servicecontent
            .wrapper
                .service
                    .service__title
                        p Джейлинг- сервис
                    .service__text
                        p Джейлинг сервис - дистрибьютор продукции для салонов и косметологов. Наши заказчики, кроме продукции, получают от нас поток клиентов и маркетинговые инструмент для их удержания.
                    .service__blockblocks
                        .blockitem      
                            img(src="./images/advantages1.png", alt="")
                            span Обучение
                        .blockitem      
                            img(src="./images/advantages2.png", alt="")
                            span Поставка. Отгрузка транспортными компаниями и курьерскими службами.
                        .blockitem      
                            img(src="./images/advantages3.png", alt="")
                            span Рекламная поддержка Instagram, FB, VK. Video-PR
                        .blockitem      
                            img(src="./images/advantages4.png", alt="")
                            span Привлечение клиентов. Интерактивная карта и список партнеров направляющих клиентов в Ваш салон.
                        .blockitem      
                            img(src="./images/advantages5.png", alt="")
                            span Удержание клиентов. Мобильное приложение и маркетинговые инструменты.
                    .service__link  
                        a(href="#") Предложение партнерам
                    .service__qrblock
                        .left   
                            img(src="./images/gr.png", alt="")
                        .right
                            span Скачай в App Store
                            a(href="https://itunes.apple.com/us/app/uds-game/id954809132?mt=8)") https://itunes.apple.com/us/app/uds-game/id954809132?mt=8)
                            span Google Play
                            a(href="https://play.google.com/store/apps/details?id=com.setinbox.game&hl=ru) ") https://play.google.com/store/apps/details?id=com.setinbox.game&hl=ru) 
                            p 
                                | мобильное приложение UDS Game. Отсканируй или введи код twev5679 image.png Получи приветственные 
                                span 
                                    | 500 баллов
                                | на счет
                            


        include ../common/footer.pug
        include ../common/popap.pug