extends ../template

block varibles
    - var title = "Heade"

block content
   
    .content     
        include ../common/header.pug

        section
            .wrapper
                .slides 
                    .swiper-contain
                        .swiper-wrapper 
                            .swiper-slide.one eded
                            .swiper-slide.twoo rffrf
                            .swiper-slide.three rfreee
                


        include ../common/footer.pug