extends ../template

block varibles
    - var title = "Slides"

block content
   
    .content     
        include ../common/header.pug

        section.slidescontent
            .slides
                .swiper-container
                    .swiper-wrapper 
                        .swiper-slide.one
                            .wrapper
                                .slides__title
                                    p как все происходит
                                .slides__text
                                    p первое
                                .slides__title2
                                    p Очищающий лосьон
                                .slides__description   
                                    p убирает загрязнение и подготавливает кожу
                        .swiper-slide.twoo
                            .wrapper
                                .slides__title
                                    p как все происходит
                                .slides__text
                                    p ВТОРОЕ
                                .slides__title2
                                    p Гель для эпиляции
                                .slides__description   
                                    p Основное действо
                        .swiper-slide.three
                            .wrapper
                                .slides__title
                                    p как все происходит
                                .slides__text
                                    p ТРЕТЬЕ
                                .slides__title2
                                    p Гель после эпиляции
                                .slides__description   
                                    p Успокаивающий эффект
                    .swiper-button-next 
                    .swiper-button-prev 
                


        include ../common/footer.pug 
        include ../common/popap.pug