.advantagescontent{
    // margin-top: 82px;
    background-image: url(../images/advantagesbg.png);
    // height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f3efeb;
    // padding-top: 90px;

    height: 997px;
    overflow: hidden;
}

.advantages{
    padding: 118px 0 0 0;
    padding-bottom: 266px;
    // height: 1122px;
    // height: 57.71vw;
    &__title{
        margin-bottom: 137px;
        p{
            font-size: 58px;
            font-weight: 300;
            line-height: 53.43px;
            text-transform: uppercase;
            color: #666666;
            letter-spacing: 0.07px;
        }
    }
    &__blockblocks{
        width: 470px;
        display: flex;
        justify-content: space-between;
        &_fl{
            justify-content: center;
        }
        .blockitem{
            width: 153px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 30px;
            span{
                margin-top: 16px;
                font-size: 21px;
                font-weight: 300;
                line-height: 20.83px;
                color: black;
                letter-spacing: 0.06px;
            }
        }
    }
}

@media all and (max-width: 1350px){
    .advantages{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
}

@media all and (max-width: 500px){
    .advantages{
        &__title{
            margin-bottom: 38px;
            p{
                font-size: 38px;
            }
        }
        &__blockblocks{
            flex-direction: column;
            align-items: center;
            .blockitem{
                span{
                    font-size: 16px;
                }
            }
        }
    }
}