.partnerscontent{
    // margin-top: 82px;
    background-image: url(../images/partnersbg1.png);
    // height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f3efeb;
    // padding-top: 90px;

    // height: 997px;
    overflow: hidden;
}

.partnerscontent2{
    margin-top: 82px;
    background-image: url(../images/partnersbg2.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.partners{
    padding-top: 118px;
    
    padding-bottom: 200px;
    // height: 1122px;
    // height: 57.71vw;
    &__title  {
        margin-bottom: 23px;
        p{
            font-size: 58px;
            font-weight: 300;
            line-height: 53.43px;
            text-transform: uppercase;
            color: #666666;
            letter-spacing: 0.07px;
        }
    }
    &__blockbutton{
        display: flex;
        margin-bottom: 39px;
        .button1{
            width: 334px;
            height: 121px;
            background-color: #ff3399;
            padding: 16px 0 0 19px;
            &_pad{
                padding: 16px 0 0 45px;
            }
            a{
                width: 100%;
                height: 100%;
                text-decoration: none;
                display: flex;
                span{
                    font-size: 25px;
                    font-weight: 300;
                    line-height: 33.33px;
                    text-transform: uppercase;
                    color: $white;
                    letter-spacing: 0.05px;
                }
            }
            
        }
        .button2{  
            width: 334px;
            height: 121px;
            background-color: $white;
            padding: 16px 0 0 45px;
            &_pad{
                padding: 16px 0 0 19px;
            }
            a{
                display: flex;
                text-decoration: none;
                width: 100%;
                height: 100%;
                span{
                    color: #666666;
                    font-size: 25px;
                    font-weight: 300;
                    line-height: 33.33px;
                    text-transform: uppercase;
                    letter-spacing: 0.05px;
                }   

            }   
        }   
    }
    &__list{
        margin-bottom: 45px;
        // width: 520px;
        .paragraph::before{
            content: '';
            display: block;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            background-color: #ff3399;
            margin-right: 17px;
            margin-top: 4px;
        }
        .paragraph{
            display: flex;
            margin-bottom: 38px;
            // justify-content: center;
            p{
                // padding-right: 764px;
                font-size: 25px;
                font-weight: 300;
                line-height: 27.17px;
                color: black;
                letter-spacing: 0.05px;
            }
        }
    }
    &__link{
        margin-top: 34px;
        a{
            font-size: 21px;
            font-weight: 300;
            line-height: 44.54px;
            text-decoration: underline;
            color: #ff3399;
            letter-spacing: 0.04px;
        }
    }
}

.hidden{
    display: none;
}

.visible{
    display: block;
}
.colorbutton1{
    background-color: $white !important;
}

.colorbutton2{
    background-color: #ff3399 !important;
}

.textcolor1{
    color: #666666 !important;
}

.textcolor2{
    color: $white !important;
}

.bg2{
    background-image: url(../images/partnersbg2.png) !important;
}

@media all and (max-width: 1350px){
    .partners{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media all and (max-width: 700px){
    .partners{
        padding-bottom: 20px;
        &__blockbutton{
            flex-direction: column;
        }
    }
}

@media all and (max-width: 500px){
    .partners{
        padding-top: 25px;
        &__title{
            p{
                font-size: 38px;
            }
        }
        &__blockbutton{
            align-items: center;
            .button1, .button2{
                width: 60vw;
                height: 26vw;
                padding: 0;
                padding-top: 15px;
                a{
                    span{
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
        &__list{
            .paragraph{
                p{
                    font-size: 16px;
                }
            }
        }
    }
}