.servicecontent{
    // margin-top: 82px;
    background-image: url(../images/servicebg.png);
    // height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: bottom;
    background-position-y: -182px;
    background-color: rgb(220, 213, 208);
    // padding-top: 90px;

    // height: 997px;
    overflow: hidden;
}

.service{
    padding-top: 118px;
    // padding-bottom: 190px;
    padding-bottom:70px;
    // height: 1122px;
    // height: 57.71vw;
    &__title{
        margin-bottom: 57px;
        P{
            font-size: 58px;
            font-weight: 300;
            line-height: 53.43px;
            text-transform: uppercase;
            color: #666666;
            letter-spacing: 0.07px;
        }
    }
    &__text{
        width: 614px;
        margin-bottom: 53px;
        p{
            font-size: 21px;
            font-weight: 300;
            line-height: 33.33px;
            color: black;
            letter-spacing: 0.06px
        }
    }
    &__blockblocks{
        display: flex;
        .blockitem{
            width: 153px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 45px;
            span{
                margin-top: 16px;
                font-size: 21px;
                font-weight: 300;
                line-height: 20.83px;
                color: black;
                letter-spacing: 0.06px;
            }
        }
    }
    &__link {
        margin-bottom: 29px;
        a{
            font-size: 21px;
            font-weight: 400;
            line-height: 44.54px;
            color: #ff3399;
            letter-spacing: 0.04px;
        }
    }
    &__qrblock{
        border-top: 1px solid black;
        width: 668px;
        padding-top: 29px;
        display: flex;
        justify-content: space-between;

        padding-bottom: 40px;


        // &--1 {
        //     padding-bottom: 400px;
        // }
        // &--2 {
        //     padding-bottom: 350px;
        // }
        // &--1 {
        //     padding-bottom: 300px;
        // }

        .left{
            margin-right: 27px;
        }
        .right{
            display: flex;
            flex-direction: column;
            font-size: 17px;
            a{
                color: #6699cc;
            }
            p{
                margin-top: 20px;
                span{
                    color: #ff3399;
                }
            }
        }
    }
}

@media all and (max-width: 1350px){
    .service{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            text-align: center;
        }
        &__text{
            text-align: center;
        }

    }
}

@media all and (max-width: 775px){
    .servicecontent{
        background-image: none;
        background-color: #dad4ce;
    }
}

@media all and (max-width: 770px) {
    .service{
        &__blockblocks{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .servicecontent{
        background-size: cover;
        background-position: center top -104px;
    }
}

@media all and (max-width: 770px) {
    .service{
        &__text{
            width: auto;
        }
        &__qrblock{
            width: 98vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            .left{
                margin: 0 0 20px 0;
            }
            .right{
                text-align: center;
            }
        }
    }
}

@media all and (max-width: 500px) {

    .service{
        &__title{
            margin-bottom: 12px;
            p{
                font-size: 38px;
            }
        }
        &__text{
            p{
                font-size: 16px;
            }
        }
        &__blockblocks{
            .blockitem{
                span{
                    font-size: 16px;
                }
            }
        }
    }
}

