.swiper-button-prev{
    width: 102px;
    height: 8px;
    position: absolute;
    z-index: 1000000;
    // top: 653px;
    // left: 351px;
    left: 15%;
    top: 55%;
    transform: translateY(-50%);
    background-image: url(../images/prev.png);
    background-repeat: no-repeat;
} 

.swiper-button-next{
    width: 102px;
    height: 8px;
    position: absolute;
    // top: 653px;
    // right: 289px;
    right: 15%;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1000000;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
} 

.slidescontent{
    margin-top: 82px;
}

.slides{
    overflow: hidden;
    
    .one{
        width: 100%;
        height: 100vh !important;
        background-image: url(../images/slid1.png);
        background-size: cover;
        background-repeat: no-repeat;
    }   
    .twoo{
        width: 100%;
        height: 100vh !important;
        background-image: url(../images/slid2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }    
    .three{
        width: 100%;
        height: 100vh !important;
        background-image: url(../images/slid3.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__title{
        padding-top: 42px;
        p{
            font-size: 58px;
            font-weight: 300;
            line-height: 44.43px;
            text-transform: uppercase;
            color: #666666;
            letter-spacing: 0.07px;
        }
    }
    &__text{
        margin-top: 21px;
        p{
            font-size: 25px;
            color: black;
            text-transform: uppercase;
        }
    }
    &__title2{
        margin: 6px 0;
        p{
            font-size: 25px;
            color: #05bf99;
        }
    }
    &__description{
        p{
            font-size: 25px;
            color: black;
        }
    }
        
    
}

