.title{
    margin-bottom: 28px;
    &_grey{
        margin-bottom: 0;
        p{
            color: #8c8c8c;
        }
    }
    p{
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
}