block varibles

doctype html
html
    head
        meta(charset="UTF-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(content="ie-edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet", href="./styles/app.min.css?1")
        script(src='./scripts/app.js?1' defer)
        <script src="./dist/js/jquery-3.2.1.min.js?1"></script> 


        <script type="text/javascript" src="./dist/js/slick.js"></script>
         <link rel="stylesheet" href="./dist/css/slick.css?1">
          <link rel="stylesheet" href="./dist/css/slick-theme.css?1">

        
        //- <link rel="stylesheet" href="./dist/css/swiper.css?1">
        <script src="./dist/js/swiper.min.js?1"></script>

        <link rel="stylesheet" href="./dist/css/photoswipe.css?1">
        <link rel="stylesheet" href="./dist/css/default-skin.css?1">

        <script src="./dist/js/photoswipe.min.js?1"></script>
        <script src="./dist/js/photoswipe-ui-default.min.js?1"></script> 
        

       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.js?1"></script>
        <script src="./dist/js/masonry.pkgd.min.js?1"></script>
        <script src="./dist/js/main.js?1"></script> 


        
        
    
    body
        block content
        //- include common/menu.pug
