block varibles

doctype html
html
    head
        meta(charset="UTF-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(content="ie-edge" http-equiv="x-ua-compatible")

        link(rel="stylesheet", href="./dist/css/swiper.css?1")
        link(rel="stylesheet", href="./styles/app.min.css?1")

    body
        block content
        //- include common/menu.pug

        script(src='./dist/js/jquery-3.2.1.min.js?1')
        script(src='./dist/js/swiper.min.js?1')
        script(src='./dist/js/scrolloverflow.min.js')
        script(src='./dist/js/fullpage.js?3')
        script(src='./scripts/app.js?1')

        script.

            $(document).ready(function() {
                //- if ($(document).width() > 1279) {
                new fullpage('#fullpage', {
                    licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
                    scrollOverflow: true,
                    anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'fifthPage', 'sixthPage'],
                });
            });

