*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

@import "helpers/varibles.scss";
@import "mixin/pxem.scss";
@import "common/wrapper.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/title.scss";
@import "components/head.scss";
@import "components/slides.scss";
@import "components/po4emu.scss";
@import "components/advantages.scss";
@import "components/service.scss";
@import "components/partner.scss";
@import "components/buy.scss";
@import "components/popap.scss";
@import "components/from.scss";

@font-face {
    font-family: grotesk; /* Имя шрифта */
    src: url(../fonts/AkzidenzGroteskPro-Regular.otf); // 400
    
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: grotesk; /* Имя шрифта */
    src: url(../fonts/AkzidenzGroteskPro-Light.otf); // 300
    
    font-weight: 300;
    font-style: normal;
}

// @font-face {
//     font-family: muller; /* Имя шрифта */
//     src: url(../fonts/Fontfabric_MullerExtraBold.otf); // 800
    
//     font-weight: 800;
//     font-style: normal;
// }

// @font-face {
//     font-family: muller; /* Имя шрифта */
//     src: url(../fonts/Fontfabric_MullerLight.otf); // 300
    
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: muller; /* Имя шрифта */
//     src: url(../fonts/Fontfabric_MullerMedium.otf); // 500
    
//     font-weight: 500;
//     font-style: normal;
// }

.content{
    overflow: hidden;
    width: 100%;
    // height: 100vh;
}

body{
    position: relative;
    font-family: grotesk;
    font-weight: 300;
}

a{
    cursor: pointer;
}

// a:hover{
//     transform: scale(1.2, 1.2);
// }




